@inherits SlideBase

<div class="full-screen">
    <header class="slide-header">
        <h1 class="slide-title">Comparison: Routing</h1>
        <img class="logo"
             src="img/react-logo.png" />
        <img class="logo"
             src="img/blazor-logo.png" />
    </header>
    <div class="slide-content split">
        <div class="split-left">
            <h2>React:</h2>
            <codeblock Class="@ShowSlideStopElement(1)"
                       FileName="examplePage.jsx">
                @CodeStrings.examplePageJsx
            </codeblock>
            <codeblock Class="@ShowSlideStopElement(1)"
                       FileName="app.jsx">
                @CodeStrings.appRoutingJsx
            </codeblock>
        </div>
        <div class="split-right">
            <h2>Blazor:</h2>
            <codeblock Class="@ShowSlideStopElement(2)"
                       FileName="ExamplePage.razor">
                @CodeStrings.examplePageRazor
            </codeblock>
            <codeblock Class="@ShowSlideStopElement(2)"
                       FileName="App.razor">
                @CodeStrings.appRoutingRazor
            </codeblock>
        </div>
    </div>
</div>


@code {
    public override int SlideStopMax { get; set; } = 2;
}
